<%= form_for @job do |f| %>

  <% if @job.errors.full_messages.any? %>
    <div class="errors">
      <h2>
        Please correct
        <%= pluralize(@job.errors.full_messages.length, "error") %>
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-horizontal">

      <div class="form-group">
        <%= f.label :poster, class: "control-label col-sm-3" %>
        <div class="col-sm-6">
          <%= f.text_field :poster, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :category, class: "control-label col-sm-3" %>
        <div class="col-sm-6">
          <%= f.collection_select :category, Job.category_list, :first, :second,
            {}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :location, class: "control-label col-sm-3" %>
        <div class="col-sm-6">
          <%= f.collection_select :location, Job.location_list, :first, :second,
            {}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :statusval, "Status", class: "control-label col-sm-3" %>
        <div class="col-sm-6">
          <%= f.collection_select :statusval, Job.statusval_list, :first, :second,
            {}, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, class: "control-label col-sm-3" %>
        <div class="col-sm-6">
          <%= f.text_area :description, :rows => 10, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
          <%= f.submit "Save Job", class: "btn btn-primary pull-right" %>
        </div>
      </div>

  </div>
<% end %>
