<div class="col-sm-offset-3 col-sm-6">
  <h1>Job Details</h1>

  <p>
    <strong>Poster:</strong> <%= @job.poster %>
  </p>

  <p>
    <strong>Category:</strong> <%= @job.category.humanize %>
  </p>

  <p>
    <strong>Location:</strong> <%= @job.location.humanize %>
  </p>

  <p>
    <strong>Status:</strong> <%= @job.statusval.humanize %>
  </p>

  <p>
    <strong>Description:</strong> <%= @job.description %>
  </p>

  <div class="show-page-buttons">
    &nbsp;
    <br/>
    <%= link_to "Edit Job", [:edit, @job], class: "btn btn-primary" %>
    &nbsp;
    <%= link_to "Back to Job List", jobs_path, class: "btn btn-primary" %>
  </div>
</div>
